.create-topic-title{
  font-size: 52px;
  margin-top: 80px;
  font-family: black-knight;
  color: black;
  font-style: normal;
  margin-bottom: 10px;
}

.main-card-container{
  width: 600px;
  background-image: url('/assets/images/wood-texture-large.jpg');
}
.title-input{
  font-size: 38px;
  color: whitesmoke;
  font-family: black-knight;
}
.change-picture-btn{
  margin-top: 5px;
  color: whitesmoke;
}
.save-picture-btn{
  margin-top: -15px;
  font-family: black-knight;
  font-size: 32px;
}
.submit-topic-btn{
  background-color: limegreen;
  color: whitesmoke;
  font-family: black-knight;
  font-size: 32px;
}
.cancel-topic-btn{
  background-color: indianred; float: right;
  color: whitesmoke;
  font-family: black-knight;
  font-size: 32px;
}

.md-block{
  margin-top: 5px;
  font-size: 20px;
  font-family: Century;
  color: white;
}
input[type="file"] {
  display: none;
}

.upload-picture-div{
  margin-top: -145px;
  margin-left: 290px;
  position: absolute;
  z-index: 999;
}
#upload-file-label {
  display: inline-block;
  height: 40px;
  width: 48px;
  cursor: pointer;
}

.material-icons{
  font-size: 48px;
  color: #3F51B5;
}

.topic-img {
  border: 2px solid black;
}






