<button md-button class="create-topic-btn" routerLink="/create-topic" xmlns="http://www.w3.org/1999/html">Create New</button>
<div class="main-div-container" fxLayoutAlign="center">
  <div class="center-div-container">
    <ul class="topics-main-ul">
      <li *ngFor="let topic of topics" class="event-list">
        <md-card class="event-card" *ngIf="topic.topicType != commentType">
          <div style="float: right">
            <p class="default-text">{{getDateAsString(topic.createdAt)}}</p>
            <p class="default-text anchor-right">Views: 0</p>
            <br>
            <p class="default-text anchor-right" >Comments: {{topic.subTopics.length}}</p>
          </div>
          <md-card-header>
            <div md-card-avatar class="example-header-image">
              <img class="content-image" src="{{topic.user.picture}}">
            </div>
            <div class="topic-title">
              <p class="title-text default-text link" (click)="tryShowTopic(topic.id)">{{topic.title}}</p>
              <md-card-subtitle class="username-card-sub">
                <p style="margin-top: 7px; margin-right: 5px;" class="default-text anchor-left">By:</p>
                <p style="font-size: 24px;" class="default-text link anchor-right">{{topic.user.name + " [" + topic.user.role + "]"}}</p>
              </md-card-subtitle>
            </div>
          </md-card-header>
          <!--Small Menu Here!-->
        </md-card>
      </li>
    </ul>
  </div>
</div>
